
#stacks_in_138_page2 {
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	border-radius:  5px;
}

#stacks_in_139_page2 {
	letter-spacing: 8px;
	font-size: 103%;
}

#stacks_in_162_page2 {
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	border-radius:  5px;
}

#stacks_in_170_page2 {
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	border-radius:  5px;
}

#stacks_in_171_page2 {
	letter-spacing: 8px;
	font-size: 103%;
}

#stacks_in_146_page2 {
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	border-radius:  5px;
}
